html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
 overflow: hidden;
 user-select: none;
}

dialog { 
  position: absolute;
  top: 40%;
  text-align: center; 
}
#HeartsFull{
  position: absolute;
  top: 1em;
  left: 1em;
  right: 0.5em;
}
#HeartsEmpty{
  position: absolute;
  top: 1em;
  left: 1em;
  right: 0.5em;
}
.heartFull {
  width: 4em;
  height: 4em;
}
.heartEmpty{
  width: 4em;
  height: 4em;
}
#Points{
  display: inline-block;
  position: absolute;
  top: 1em;
  right: 2em;
  text-align: center;
  background-color: rgba(128,128,128,0.5);
  padding: 0.5em;
  font-size: 2em;
  width: 10em;
}

#Items{
  position: absolute;
  text-align:center;
  bottom: 1em;
  left: 0em;
  right: 0em;
  height: 10%;
  
}

.Item{
  height: 100%;
  display:inline-block;

}

#Axe{
  height: 90%;
  filter: brightness(50%);
}

#Pickaxe{
  height: 90%;
  filter: brightness(50%);
}
#Sword{
  height: 90%;
  filter: brightness(50%);
}

#Id{
  
}



.text{
  width: 60%;
  vertical-align: middle;
  text-align: left;
  margin: auto;
  font-size: 1.5em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  pointer-events:none;
}


canvas.fullscreen { 
  width: 100vw; 
  height: 100vh; 
}